@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.scrollable-container {
  overflow: auto; /* Enable scrolling */
}

/* WebKit browsers */
.scrollable-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
p{
  bottom: 0;
}
/* Firefox */
.scrollable-container {
  scrollbar-width: none; /* Hide scrollbar */
}
